/* Reglas CSS */
/* 1.- Regla de tipo <etiqueta> */
body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* 2.- Regla tipo #ID */
#enlaces {
    width: 960px;
    margin: auto;
}

/* 3.- Regla tipo .clase */
.submenu>ul {
    display: none;
}

#menu li {
    list-style: none;
}

#menu, #menu ul {
    padding: 0;
    margin: 0;
}

#menu {
    display: flex;
    justify-content: space-around;
}

#menu a {
    color: black;
    text-decoration: none;
    padding: 5px 20px;
}

/* color uadeo #961436 */
#menu a:hover {
    color: white;
    background-color: #961436;
}

/* .submenu>a:hover+ul {
    display: list-item;
} */

